{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% if redirect %}
        <script>
        window.location = "{{ redirect }}"
        </script>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Share All</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "static/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
    	/* Show it is fixed to the top *//*75*/
    body {
      min-height: 75rem;
      padding-top: 4.5rem;
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Share All</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
         {% for i in munu %}
          <li class="nav-item">
            <a class="nav-link" href="{{ i.url }}">{{ i.name }}</a>
          </li>
         {% endfor %}
        </ul>
        <!--form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form-->
      </div>
    </nav>


    <div class="container">
      {% include "login/"|add:page_name|add:".html" %}
      <!--br><br><br>
      <div class="jumbotron">
        <h3>Welcome</h3>
        <p class="lead">Here will got a lot of music.</p>
      </div-->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "static/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static "static/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "static/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
