<style>
    .container{
    text-align: center
    }
    .center{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }
    .center2{
    text-align: center;
    width: 100%;
    height: 360px;
    }
</style>

<ul class="container">

{% if all_data == None %}
    <p class="center">Nothing yet.</p>
{% endif %}

{% for data in all_data %}
    <li class="center"><a href="{{ data.url }}" target="_blank">{{ data.url }}</a></li>
{% endfor %}

<ul>
