<style>
    .container{
    text-align: center
    }
    .center{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }
    .center2{
    text-align: center;
    width: 100%;
    height: 360px;
    margin: auto;
    }
</style>

<div>
{% load static %}
{% if user_list %}
    <ul class="container">
    {% for user in user_list %}
        <li class="center"><a href="/main/{{ user.username }}/">{{ user.username }}</a></li>
        <iframe class="center2" src="{% static "/Shared_Page/"|add:user.username|add:".html" %}" frameborder=0></iframe>
        <!--iframe class="center2" src='{{ user.data_set.all.0.url }}' frameborder=0></iframe-->
    {% endfor %}
    </ul>
{% else %}
    <p class="center">No user yet.</p>
{% endif %}
</div>
