{% if redirect %}
    <script>
    window.location = "{{ redirect }}"
    </script>
{% endif %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Simple header with fixed tabs. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <!-- Title -->
    <!--div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Title</span>
    </div -->
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab">Manage</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab is-active">Files</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Upload</a>
    </div>
  </header>
  <!-- div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div -->
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
      <!-- Your content goes here -->
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
      <!-- Your content goes here -->
      {% include "files.html" %}
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
      <!-- Your content goes here -->
      {% include "upload.html" %}
      </div>
    </section>
  </main>
</div>